<!doctype html>
<html ng-app="dashboardApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="js/dashboard.js"></script>

  <meta charset="UTF-8">
  <title>Instructor Dashboard</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!--
  <link rel="stylesheet" href="css/normalize.css">
  !-->

  <link rel="stylesheet" href="css/index.css">
</head>

<body ng-controller="MyController">

  <!-- Attendance Viewer -->
  <div class="box-container">
    <h3>Welcome, {{ firstName }}</h3>
    <div>
      <h3>Your Classes</h3>
      <div>
        <table class="table-bordered table-hover">
          <thead>
            <tr>
              <td>Class Name</td>
              <td>Days</td>
              <td>Time</td>
              <td>Edit</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="obj in theClasses | filter: { instructor: 'Litman' }">
              <td><a href="javascript:void(0)" ng-click="selectClass(obj)"> {{ obj.className }} </a></td>
              <td>{{ obj.meetsDays }}</td>
              <td>{{ obj.timeStart }} to {{ obj.timeEnd }}</td>
              <td><button ng-click="theClasses.$remove(obj)">Remove</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div ng-show="theRoster != null">
      <h3>{{ theClassName }} Students</h3>
      <table class="table-bordered table-hover">
        <thead>
          <tr>
            <td>Student ID No.</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Edit</td>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in theRoster">
            <td>{{ student.$id }}</td>
            <td>{{ student.firstName }}</td>
            <td>{{ student.lastName }}</td>
            <td><button ng-click="theRoster.$remove(student)">Remove</button></td>
          </tr>
        </tbody>
      </table>
      <!-- ng-options="student.name as (student.lastName + ', ' + student.firstName) for student in allStudents" -->
      <button ng-click="addingStudent = true">Add Student</button>
      <div ng-show="addingStudent == true">
        <select
          ng-model="studentSelection"
          data-ng-options="student as (student.lastName + ', ' + student.firstName) for student in allStudents"
          ng-change="addStudent(studentSelection)"
          class="form-control">
          <option value="">Select Student</option>
        </select>
      </div>
    </div>

  </div>
</body>
</html>
