<!doctype html>
<html ng-app="indexApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
  <script src="js/login.js"></script>

  <meta charset="UTF-8">
	<title>Attendance Login</title>

  <link rel="stylesheet" href="css/login.css">

</head>
<body>

  <div class="login" ng-app="indexApp" ng-controller="MyController">
    <h1>Attendance Management</h1>
    <form novalidate>
      <input type="text" placeholder="Username" ng-model="username"><br>
      <input type="password" placeholder="Password" ng-model="password">
      <button class="btn btn-primary btn-block btn-large" ng-click="login()">Login</button>
    </form>
  </div>

</body>
</html>
